/* remove default browser spacing */
* {
  margin: 0px;
  padding: 0px;
}
body { 
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'jetbrains mono', monospace;
  background-color: #4e4d4d; 
  color: white;
  width: 50%;
  margin: auto;
  
}
img {
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: white; 
  color: black;
}
#summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} 

div {
  padding: 10px
}

.span-color {
  color: cornflowerblue;
}

il {
  margin-left: 5px;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*title text style*/
/* the font-family 'JetBrains Mono', has been linked
 * and is available for your use
 * */


